nav{
  font-size: 15px;
}

#menu, #menu ul{
  margin: 0;
  padding: 3px;
  list-style: none;
}

#menu{
  width: 400px ;
  margin: 50px auto;
  background-color: #b7a712;
  border-radius: 1px;
}

#menu:before,
#menu:after{
  content:'';
  display: table;
}

#menu:after{
  clear: both;
}

#menu li{
  float: left;
  position: relative;
}

#menu a{
  float: left;
  padding: 15px 30px;
  text-transform: uppercase;
  font-family: arial;
  text-decoration: none;
  color: black;
}

#menu li:hover > a{
  color: #fafafa;
  background: #262626;
}

#menu li:hover > ul{
  opacity: 1;
  visibility: visible;
  margin: 0;
}
